<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>brain_two</title>
</head>
<body>
  <main>
    <a href="{% url 'todo_list' %}">Back to List</a>
    <a href="{% url 'todo_edit' todolist.id %}">Edit</a>
    <a href="{% url 'todo_delete' todolist.id %}">Delete</a>
    <h1>{{items.name}}<h1>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
  </main>
</body>
</html>