<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>brain_two</title>
</head>
<body>
  <main>
    <h1>My lists</h1>
    <a href="{% url 'todo_create' %}">Create a new list</a>
    <a href="{% url 'todo_item_create' %}">Create a new item</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              {% for x in todolist_list %}
                <td>
                    <a href="{% url 'todo_details' x.pk %}">{{x.name}}</a>
                </td>
            </tr>
              {% endfor %}
        </tbody>
    </table>
  </main>
  <footer></footer>
</body>
</html>